<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
        <a class="navbar-brand" href="/">SmartNote</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item auth-required" style="display: none;">
                    <a class="nav-link" href="/notes">My Notes</a>
                </li>
                <li class="nav-item auth-required" style="display: none;">
                    <a class="nav-link" href="/categories">Categories</a>
                </li>
            </ul>
            
            <div class="search-container mx-auto">
                <div class="input-group">
                    <input type="text" class="form-control" id="globalSearch" 
                           placeholder="Search notes..." autocomplete="off">
                    <button class="btn btn-icon" type="button" id="searchOptions">
                        <i class="bi bi-funnel"></i>
                    </button>
                    <button class="btn btn-icon" id="themeToggle">
                        <i class="bi bi-sun-fill dark-icon"></i>
                        <i class="bi bi-moon-stars-fill light-icon"></i>
                    </button>
                </div>
                <div class="search-filters" id="searchFilters" style="display: none;">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="searchNotes" checked>
                        <label class="form-check-label" for="searchNotes">Notes</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="searchCategories" checked>
                        <label class="form-check-label" for="searchCategories">Categories</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="searchTags" checked>
                        <label class="form-check-label" for="searchTags">Tags</label>
                    </div>
                </div>
            </div>

            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/auth/login" id="loginLink">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>