<div class="container">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1 id="categoryName"></h1>
        <a href="/categories" class="btn btn-outline-secondary">Back to Categories</a>
    </div>

    <div class="row" id="categoryNotes">
        <!-- Notes in this category will be populated here -->
    </div>
</div>