<div class="jumbotron text-center">
    <h1 class="display-4">Welcome to SmartNote</h1>
    <p class="lead">Your smart note-taking companion with Cornell Method support.</p>
    <hr class="my-4">
    <p>Get started by creating your first note or organizing your categories.</p>
    <a class="btn btn-primary btn-lg" href="/auth/login" role="button">Get Started</a>
</div>